main{
    background-color: var(--color2);
    width: 30em;
    height: 35em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0 0 0;
}

main header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}